

/* .dropdown-item:hover{
color: pink;
background-color: yellow;
 } */

/*body{
    font-family: fantasy;
}

.navbar{
    background-color: olivedrab;
    color: white;
}

.navbar li a, .navbar .navbar-brand{
    color: white;
}

.navbar-nav li a:hover{
    color: lightgray;
}

header{
    padding: 20px;
    background-color: lightgray;
    font-family: Verdana;
}

h1{
    color: olivedrab;
    line-height: 1.5;
}

.logo{
    color: olivedrab;
    font-size: 5em;
}
.container-fluid{
    padding: 60px 40px;
}
h2{
    color: olivedrab;
    margin-bottom: 30px;
}
h4{
    color: gray;
    text-align: justify;
}
.text{
    text-align: justify;
}
.logo-large{
    font-size: 10em;
    color: olivedrab;
    padding: 20px;
}

.card-text{
    text-align: center;
    padding: 20px;
}
.carousel{
    height: 12em;
    background-color: olivedrab;
    padding: 40px;
}
.carousel-inner{
    color: white;
}
ul{
    text-align: left;
}
.card button,.send{
    border-radius: 5em;
    background-color: olivedrab;
    color: white;
    margin-top: 30px;
}
.card:hover{
    box-shadow: 2px 2px 5px black;
    /*transform: translateY(10px);*/
   /* transform: scale(1.1,1.1);
}
.card{
    border: none;
    transition: all 2s;
}
.address{
    color: olivedrab;
}
footer a{
    color: olivedrab;
    font-size: 3em;
}
footer a:hover{
    color: lightgrey;
}*/